<p>
<div class="face-snap-card">
  <div style="text-align: center">
    <h3>{{team}}</h3>
    </div>

  <img [src]="image" [alt]="team"><br>
<b>Nom Equipe :</b> {{ team }} <br>
<b>Moteur :</b> {{ engine }} <br>
<b>Nombre Victoire :</b> {{ nbVictory }}
<br>

<br>

<b>Date du jour :</b> {{ dateJours }}

    <div style="text-align: center">
    <button id="like" (click)="onButtonLike()">{{buttonLikeText}}({{comptLike}})</button>
    <button id="dislike" style="margin-left: 5px" (click)="onButtonDisLike()">{{buttonDislikeText}}({{comptDislike}})</button>
  </div>


</div>

